<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navigation}"
>
<head>
    <th:block th:replace="~{layout/fragment::head}">
    </th:block>
    <link th:href="@{/css/common-list.css}" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">
    <div class="user-container">
        <div class="">
            <nav aria-label="breadcrumb" class="my-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">List offer</li>
                </ol>
            </nav>
            <section class="mb-2">
                <div class="user-search px-1">
                    <form th:action="@{/admin/offer}" class="form-search">
                        <div class="mx-lg-4">
                            <input class="input-search w-100"
                                   type="text"
                                   id="param"
                                   name="param"
                                   th:value="${searchResponse.param}"
                                   placeholder="Search"/>
                            <button class="submit-search">
                                <ion-icon name="search-outline"
                                          class="h5 m-0 ps-2 pe-3 pt-1 text-white">
                                </ion-icon>
                            </button>
                        </div>
                        <select name="status" class="input-search  my-3 my-lg-0">
                            <option selected value="">-- status --</option>
                            <option th:selected="${searchResponse.status != null && searchResponse.status.name() == 'OPEN'}"
                                    value="OPEN">Open</option>
                            <option th:selected="${searchResponse.status != null && searchResponse.status.name() == 'CLOSE'}"
                                    value="CLOSE">Close</option>
                        </select>
                    </form>
                    <div  sec:authorize="hasAnyRole('ROLE_RECRUITER','ROLE_MANAGER')" class="add">
                        <a href="#" role="button"
                           data-bs-toggle="modal"
                           data-bs-target="#exampleModal">
                            <ion-icon name="cloud-download-outline" class="h3"></ion-icon>
                        </a>
                        <a th:href="@{/admin/offer/create}">
                            <ion-icon name="add-circle-outline" class="h3 mx-4"></ion-icon>
                        </a>
                    </div>
                </div>
            </section>
            <section class="px-1">
                <div th:if="${message}" class="text-center">
                    <span th:utext="${message}" class="text-danger"></span>
                </div>
                <div class="user-table">
                    <table>
                        <thead>
                        <tr>
                            <td style="min-width: 180px">Candidate Name</td>
                            <td style="min-width: 150px">Email</td>
                            <td style="min-width: 120px">Approver</td>
                            <td style="min-width: 120px">Salary</td>
                            <td style="min-width: 170px">Status</td>
                            <td style="min-width: 140px" class="text-center">Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="o : ${offers}">
                            <td><span th:utext="${o.resultInterview.candidate.fullName}"></span></td>
                            <td><span th:utext="${o.resultInterview.candidate.email}"></span></td>
                            <td><span th:utext="${o.manager.fullName}"></span></td>
                            <td><span th:utext="${o.basicSalary}"></span></td>
                            <td>
                              <span th:classappend="${
                                o.status.name() == 'OPEN'
                                || o.status.name() == 'PASSED_INTERVIEW'
                                 || o.status.name() == 'ACCEPTED_OFFER'
                                  || o.status.name() == 'APPROVED_OFFER'? 'successStatus' :
                                 (o.status.name() == 'WAITING_FOR_INTERVIEW' ||
                                  o.status.name() == 'WAITING_FOR_APPROVAL'||
                                  o.status.name() == 'WAITING_FOR_RESPONSE' ||
                                   o.status.name() == 'IN_PROGRESS' ? 'waringStatus' : 'dangerStatus')}"
                                    th:utext="${o.status.value}">
                                </span>
                            </td>
                            <td class="text-end" style="width: 160px">
                                <a th:href="@{/admin/offer/edit/{id}(id=${o.id})}"
                                   class="text-decoration-none text-warning h4 ">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a>
                                <a th:href="@{/admin/offer/{id}(id=${o.id})}"
                                   class="text-decoration-none text-success h4 mx-3">
                                    <ion-icon name="eye-outline"></ion-icon>
                                </a>
                                <a href="#"
                                   role="button"
                                   th:onclick="'deleteById('+${o.id}+')'"
                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteById"
                                   class="text-decoration-none text-danger h4">
                                    <ion-icon name="trash-outline"
                                              id="offer"></ion-icon>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between align-items-center mx-5">
                        <div class="my-3">
                            <span class="h5 me-5 text-primary"
                                  th:utext="${'Total: ' + offers.totalElements + ' rows'}">
                            </span>
                            <span class="h5 text-danger"
                                  th:if="${offers.totalElements  == 0}"
                            >
                                Don't find offer
                            </span>
                        </div>
                        <nav th:if="${offers.totalElements > 0}"
                             aria-label="Page navigation example"
                             class="mt-4">
                            <ul class="pagination d-flex justify-content-center">
                                <li></li>
                                <li class="page-item me-1">
                                    <a class="page-link"
                                       th:with="pageNumber=${searchResponse.pageNumber > 1 ?
                                   searchResponse.pageNumber - 1 : 1}"
                                       th:href="@{/admin/offer/(
                                   pageNumber=${pageNumber},
                                   param=${searchResponse.param},
                                   status=${searchResponse.status}
                                   )}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a></li>
                                <li class="page-item me-1" th:each="p,i : ${searchResponse.pageMaxNumber}">
                                    <a class="page-link"
                                       th:href="@{/admin/offer/(
                                   pageNumber=${i.count},
                                   param=${searchResponse.param},
                                   status=${searchResponse.status}
                                   )}"
                                       th:classappend="${i.count == searchResponse.pageNumber ?
                                    'bg-primary text-white' : ''}"
                                       th:utext="${i.count}"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       th:with="pageNumber=${searchResponse.pageNumber < searchResponse.pageMaxNumber.size() ?
                                   searchResponse.pageNumber + 1 : searchResponse.pageMaxNumber.size()}"
                                       th:href="@{/admin/offer/(
                                   pageNumber=${pageNumber},
                                   param=${searchResponse.param},
                                   status=${searchResponse.status}
                                   )}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Export offer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/offer/export}" method="post" >
                        <label for="fromDate">From date</label>
                        <input type="date" id="fromDate" name="fromDate"/>
                        <label for="fromDate">To date</label>
                        <input type="date" id="toDate" name="toDate"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Export</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>