.user-form {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-column: auto;
    grid-template-columns: 1fr 1fr;
}

.user-container {
    border-bottom: 1px solid var(--blue3);
    border-right: 1px solid var(--blue3);
    border-left: 1px solid var(--blue3);
    padding: 0 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0 15px 10px 7px rgba(0, 0, 0, 0.19);
    overflow-x: auto;
}
.form-field {
    position: relative;
    height: fit-content;
    max-height: 124px;
}
.form-lb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: var(--black2);
    pointer-events: none;
    transition: 0.25s ease;
}
.form-select-ct,
.form-input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #00BCD4FF;
    border-radius: 4px;
}

.form-input:focus {
    outline: none;
}

.form-icon-select{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    user-select: none;
    color: var(--black2);
    pointer-events: none;
    transition: 0.25s ease;
}
.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    user-select: none;
    color: var(--black2);
    transition: 0.25s ease;
}
.textarea-input{
    height: 124px;
    width: 100%;
    padding: 10px 20px 0 20px;
    border: 1px solid #00BCD4FF;
    border-radius: 4px;
}

.form-input:not(:placeholder-shown) + .form-lb,
.textarea-input:not(:placeholder-shown) + .form-lb,
.textarea-input:focus + .form-lb,
.form-input:focus + .form-lb {
    color: #00BCD4FF;
    top: 0;
    background-color: white;
    padding: 0 5px;
    left: 17px;
}

.invalid-feedback{
 margin-left: 180px;
}
@media (max-width: 991px) {
    .user-form {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}